<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogFile="logs/internal-nlog.txt"
	internalLogLevel="Warn"
>
	<targets>
		<target name="jsonFile" xsi:type="File" fileName="logs/logfile.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:tostring}" />
				<attribute name="stackTrace" layout="${stacktrace}" />
			</layout>
		</target>

		<target name="errorFile" xsi:type="File" fileName="logs/errors.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:tostring}" />
				<attribute name="stackTrace" layout="${stacktrace}" />
			</layout>
		</target>

		<target name="fatalFile" xsi:type="File" fileName="logs/fatal.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:tostring}" />
				<attribute name="stackTrace" layout="${stacktrace}" />
			</layout>
		</target>

		<target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="jsonFile" />
		<logger name="*" minlevel="Error" writeTo="errorFile" />
		<logger name="*" minlevel="Fatal" writeTo="fatalFile" />
		<logger name="*" minlevel="Error" writeTo="console" />
	</rules>
</nlog>
